.programs {
    margin: 80px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.program img {
    width: 100%;
    border-radius: 10px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.program {
    flex-basis: 31%;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
    margin: 0 10px;
    margin-bottom: 40px;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background: rgba(0, 15, 152, 0.3); */
    /* background: rgba(236, 6, 9, 0.6); */
    background-image: linear-gradient(45deg, rgb(105, 19, 19), red);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.5s;
    border-radius: 50%;
}
.caption img{
    width: 80px;
    margin-bottom: 10px;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}
.caption p{
    font-size: 20px;
    font-weight: 500;
}

/* --------- media query ----------- */

@media (max-width : 650px){
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}