.hero{
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(rgba(8,0,58,0.1), rgba(8,0,58,0.1)), url("./images/BG.JPG");
    /* background: linear-gradient(rgba(60,0,0,0.3), rgba(60,0,0,0.3)), url("./images/Hero-Back.jpg"); */
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    padding-top: 60px;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 0  0 6px #fff;

}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}