
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Outfit", sans-serif;
}
body{
    background: #f5f5f5;
    /* background: linear-gradient(45deg, red, rgb(128, 1, 1)); */
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 8%;
    padding-right: 8%;
} 
.dark-btn{
    background: #212EA0;
    color: #fff;
}

/* ---------- media query --------- */
@media (max-width : 1200px){
    .container{
        padding: 0 5%;
    }
}